* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    margin: 1rem 2rem 1rem 2rem;
    background-color: #ECECEC;
    height: 100vh;
    text-align: center;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3 {
    flex: 1;
    padding: 1rem ;
    font-size: large;
}



table {
    border: black;
    border-style: solid;
    border-width: 0.2px;
    padding: 0.8rem;
    text-align: left;
    align-self: center;
}


th {
  padding: 1px;
  text-align: center;
}

td {
  border: 0.1px solid gray;
  text-align: center;
}

.player-name {
  text-align: left;
  white-space: nowrap;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    padding: 1vh;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 1rem;
    /* padding: 1rem; */
    max-height: 100%;
    
    height: 40vh;
    width: 20vw;
    transition: all .1s ease; 
  }
  
  /* This container is needed to position the front and back side */
  .card-inner {
    position: relative;
    max-width: 100%;
    max-height: 40vh;
    /* height: 40vh;
    width: 100%; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: scroll; */
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-front, .card-back {
    position: absolute;
    /* max-width: 100%;
    max-height: 100%; */
    /* height: 100%; */
    /* width: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .card-front {
    /* background-color: #bbb; */
    background-color: white;
    color: black;
    border: 0.5em solid gray;
    max-width: 100%;
    width: 20vw;
    max-height: 40vh;
    height: 40vh;
    display: flex;


  }
  
  /* Style the back side */
  .card-back {
    max-height: 40vh;
    height: 40vh;
    max-width: 20vw;
    width: 20vw;
    background-color: #cecece;
    color: white;
    transform: rotateY(180deg);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
  }


  @media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }

  }


/* Custom Scroll Bar */

body::-webkit-scrollbar {
    width: 1em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }


/* Custom Scroll Bar for the cards */
  
.card::-webkit-scrollbar {
    width: 1em;
  }
   
.card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
.card::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }